{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
   		<meta charset="utf-8">
		<title>Internet shop - test task</title>
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="https://npmcdn.com/react-select/dist/react-select.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

		<script src="{% static 'react/react.min.js' %}"></script>
 		<script src="{% static 'react/react-dom.min.js' %}"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
 		<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
 		<script src="{% static 'js/ReactRouter.min.js' %}"></script>
		
		<script src="https://npmcdn.com/classnames/index.js"></script>
		<script src="https://npmcdn.com/react-input-autosize/dist/react-input-autosize.js"></script>
		<script src="https://npmcdn.com/react-select/dist/react-select.js"></script>

	</head>
	<body>
 		<script src="{% static 'js/script.jsx' %}" type="text/babel"></script>
	</body>
</html>